<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
<title>Lista de Convidados</title>
</head>
<body>
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Cadastrar Novo</h1>
		</div>
		<!-- Painel -->
		<div class="panel-body">
			<form action="#" th:action="@{/add-convidado}" method="post" class="form-inline" style="margin: 20px 0">
				<input type="text" value="" name="nome" placeholder="nome" required class="form-control">
				<select name="qtdAcompanhantes" class="form-control">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
				</select>
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>
		</div>
	</div>


</body>
</html>